@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500|Zilla+Slab&display=swap');

body {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 0;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Zilla Slab', serif;

}

h1 {
    font-family: 'Baloo Chettan 2', cursive;
    text-align: center;
    margin-top: 1.5em;
    color: white;
}

.form,
.orderConfirmed {
    background-color: white;
    width: 50%;
    padding: 1em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.36);
}

h2,
p {
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
}

svg {
    padding: 0;
    stroke: black;
    fill: none;
    stroke-width: .25em;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*---disable radio button ---*/

label {
    padding: 0;
    display: flex;
    flex-direction: column;
}

#shirt,
#trui,
#blauw,
#groen,
#geel,
#rood,
#oranje,
#roze,
#paars,
#zwart,
#zwart1,
#wit,
#wit1 {
    position: absolute;
    opacity: 0;
}

/*---add new radio button styling ---*/
#shirt+svg,
#trui+svg {
    width: 90%;
    cursor: pointer;
    border: 0.25em solid;
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
}

#blauw+span,
#groen+span,
#geel+span,
#rood+span,
#oranje+span,
#roze+span,
#paars+span,
#zwart+span,
#wit+span,
#zwart1+span,
#wit1+span {
    width: 2em;
    height: 2em;
    margin: 0.25em;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: 0.25em solid;
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
}

/*---add interaction to radio button ---*/

#shirt:checked+svg,
#shirt:focus+svg,
#trui:checked+svg,
#trui:focus+svg {
    border-color: rgb(175, 175, 248);
    fill: rgb(175, 175, 248);
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
}


#shirt:hover+svg,
#trui:hover+svg {
    transform: scale(1.1);
    stroke-dasharray: 20;
    animation: dash 10s linear;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

#blauw:checked+span,
#blauw:focus+span,
#groen:checked+span,
#groen:focus+span,
#geel:checked+span,
#geel:focus+span,
#rood:checked+span,
#rood:focus+span,
#oranje:checked+span,
#oranje:focus+span,
#roze:checked+span,
#roze:focus+span,
#paars:checked+span,
#paars:focus+span,
#zwart:checked+span,
#zwart:focus+span,
#wit:checked+span,
#wit:focus+span,
#zwart1:checked+span,
#zwart1:focus+span,
#wit1:checked+span,
#wit1:focus+span {
    transform: scale(1.1);
    border-color: rgb(175, 175, 248);
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
}

#blauw:hover+span,
#groen:hover+span,
#geel:hover+span,
#rood:hover+span,
#oranje:hover+span,
#roze:hover+span,
#paars:hover+span,
#zwart:hover+span,
#wit:hover+span,
#zwart1:hover+span,
#wit1:hover+span {
    transform: scale(1.1);
    border: 0.25em dashed;
}

/*--- text input styling ---*/
input[type=text] {
    font-size: 0.65em;
    border: 0.25em solid;
    padding: 1em;
    width: 30%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
}

input[type=text]:hover {
    border: 0.25em dashed;
}

input[type=text]:focus {
    outline: none;
    background-color: rgb(175, 175, 248);
    font-family: 'Baloo Chettan 2', cursive;
}

.textInput {
    text-align: center;
}

/*--- button styling ---*/
button {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 0.5em;
    margin: 1em;
    border: 0.25em solid;
    height: 4em;
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
}

button:hover,
button:focus {
    outline: none;
    transform: scale(1.1);
    border: 0.25em dashed;
    background-color: rgb(175, 175, 248);
}

.groupButton {
    padding: 0;
    display: flex;
    left: 50%;
    margin: 0 auto;
}

/*--- svg tekst styling ---*/
.text {
    font-size: 1.2em;
    font-family: 'Zilla Slab', serif;
    font-weight: 100;
}

.orderConfirmed {
    align-items: center;
    width: 60%;
}

.svg {
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
    width: 80%;
}

.svg:hover {
    transform: scale(1.1);
    stroke-dasharray: 20;
    animation: dash 10s linear;
}

a {
    display: inline-block;
    position: sticky;
    top: 1em;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 1em;
    margin: 1em;
    margin-bottom: 0;
    padding: 0.2em;
    border: 0.20em solid black;
    -webkit-transition: all 0.3s ease-in-outs;
    transition: all 0.3s ease-in-out;
    background-color: white;
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    outline: none;
    transform: scale(1.1);
    border: 0.2em dashed;
    background-color: white;
}

.titelOrder {
    margin: 0;
}