<html>
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title> Ontwerp je shirt! </title>

  </head>

  <body>

  <h1>Ontwerp je shirt!</h1>

<div class="previewGroup">
<form class="form">

<div>
<h2>Stap 1:</h2>
<p>Kies je product:</p>

<div class="group">
<label class="shirt" for="shirt">
<input type="radio" id="shirt" name="stap1" value="shirt" checked
 <% if (stap1== "shirt") { %>
 checked 
<% } %>><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 640" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<path class="st0" d="M89.3,280.6c4.4-12.8,8.7-25.7,13.3-38.5c10.5-29.5,21.2-58.9,31.6-88.4c1.2-3.4,3-5.4,6.2-7.1
	c31.3-16.4,62.5-32.8,93.6-49.5c4.2-2.3,5.1-1.1,6.9,2.6c14.2,29.4,36.7,48,69.9,51.3c14.8,1.4,28.6-3.4,41.1-11.1
	c16.3-10,28.3-24,36-41.5c1.4-3.1,2.5-3.3,5.3-1.8c32.2,17.1,64.4,34.1,96.7,51.1c2,1.1,2.8,2.6,3.5,4.5c15,42.3,30.7,84.4,45,126.9
	l-83.1,35.2c-1.3-6.9-3-13.8-5.2-20.6c0,3.5,0,7.1,0,10.6c0,84.5,0,168.9,0.1,253.4c0,4.6-1.2,5.7-5.7,5.7
	c-75.8-0.1-151.7-0.1-227.5,0c-11.3,0-22.5,0-33.8,0c-3.7,0-5.1-0.7-5.1-4.8C178,472,178,385.3,178,298.7c0-1.2,0.1-2.3,0.1-3.5
	c-0.5-1-0.6-1.9-0.2-2.4c0,1-1.1,2-1.4,3.4c-1.5,7.1-3,14.3-4.5,21.8L89.3,280.6z"/>
</svg>

shirt</label>

<label class="trui" for="trui">
<input type="radio" id="trui" name="stap1" value="trui"  <% if (stap1== "trui") { %>
 checked 
<% } %>>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 640" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<path class="st0" d="M176.5,296.2c-1.5,7.1-3,14.3-4.5,21.8c-16-6-54.4,285.8-70,280c-10.7-4-61.2-7.5-72-11
	c-4.8-1.6,58-302.7,59.3-306.4c4.4-12.8,8.7-25.7,13.3-38.5c10.5-29.5,21.2-58.9,31.6-88.4c1.2-3.4,3-5.4,6.2-7.1
	c31.3-16.4,62.5-32.8,93.6-49.5c4.2-2.3,5.1-1.1,6.9,2.6c14.2,29.4,36.7,48,69.9,51.3c14.8,1.4,28.6-3.4,41.1-11.1
	c16.3-10,28.3-24,36-41.5c1.4-3.1,2.5-3.3,5.3-1.8c32.2,17.1,64.4,34.1,96.7,51.1c2,1.1,2.8,2.6,3.5,4.5c15,42.3,30.7,84.4,45,126.9
	c2.4,7.1,31.7,280.3,24.6,282.9c-24.7,9.2-52.4,4.7-77,14c-3,1.1-30.1-258.6-30.7-261.7c-1.3-6.9-3-13.8-5.2-20.6
	c0,3.5,0,7.1,0,10.6c0,84.5,0,168.9,0.1,253.4c0,4.6-1.2,5.7-5.7,5.7c-75.8-0.1-151.7-0.1-227.5,0c-11.3,0-22.5,0-33.8,0
	c-3.7,0-5.1-0.7-5.1-4.8C178,472,178,385.3,178,298.7c0-1.2,0.1-2.3,0.1-3.5c-0.5-1-0.6-1.9-0.2-2.4
	C177.9,293.8,176.8,294.8,176.5,296.2z"/>
</svg>trui</label>
</div>
</div>

<div>
<h2>Stap 2:</h2>
<p>Kies de kleur:</p>

<div class="group">
<label for="blauw">
<input type="radio" id="blauw" name="stap2" value="#4144f0"
       <% if (stap2== "#4144f0") { %>
 checked 
<% } %>><span style="background-color:#4144f0;"></span>blauw</label>

<label for="groen">
<input type="radio" id="groen" name="stap2" value="#31e083" <% if (stap2== "#31e083") { %>
 checked 
<% } %>><span style="background-color:#31e083;"></span>groen</label>

<label for="geel">
<input type="radio" id="geel" name="stap2" value="#f2f26b" <% if (stap2== "#f2f26b") { %>
 checked 
<% } %>><span style="background-color:#f2f26b;"></span>geel</label>

<label for="rood">
<input type="radio" id="rood" name="stap2" value="#ed5858" <% if (stap2== "#ed5858") { %>
 checked 
<% } %>><span style="background-color:#ed5858;"></span>rood</label>

<label for="oranje">
<input type="radio" id="oranje" name="stap2" value="#ed9458" <% if (stap2== "#ed9458") { %>
 checked 
<% } %>><span style="background-color:#ed9458;"></span>oranje</label>

<label for="roze">
<input type="radio" id="roze" name="stap2" value="#f47aff" <% if (stap2== "#f47aff") { %>
 checked 
<% } %>><span style="background-color:#f47aff;"></span>roze</label>

<label for="paars">
<input type="radio" id="paars" name="stap2" value="#a963ff" <% if (stap2== "#a963ff") { %>
 checked 
<% } %>><span style="background-color:#a963ff;"></span>paars</label>

<label for="zwart">
<input type="radio" id="zwart" name="stap2" value="#2e2e2e" <% if (stap2== "#2e2e2e") { %>
 checked 
<% } %>><span style="background-color:#2e2e2e;"></span>zwart</label>

<label for="wit">
<input type="radio" id="wit" name="stap2" value="white" <% if (stap2== "white") { %>
 checked 
<% } %>>
<span></span>wit</label>
</div>
</div>

<div>
<h2>Stap 3:</h2>
<label class="textInput" for="text">Vul hier de tekst in voor op het shirt
<input type="text" id="text" name="stap3" placeholder="Vul hier de tekst in!" value="<%= text %>"></label>

<p>Kies de tekst kleur:</p>

<div class="group">
<label for="zwart1">
<input type="radio" id="zwart1" name="stap4" value="black" <% if (stap3== "black") { %>
 checked 
<% } %>><span style="background-color:#2e2e2e;"></span>zwart</label>

<label for="wit1">
<input type="radio" id="wit1" name="stap4" value="#FFFFFF" <% if (stap3== "#FFFFFF") { %>
 checked 
<% } %>>
<span></span>wit</label>
</div>
</div>

<div class="groupButton">
<button type="submit" formaction="/save" formmethod="post">opslaan</button>
<button type="submit" formaction="/order" formmethod="post">preview</button>
</div>
</form>   

<div class="preview">

<svg class="previewShirt" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 640" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<path d="M89.3,280.6c4.4-12.8,8.7-25.7,13.3-38.5c10.5-29.5,21.2-58.9,31.6-88.4c1.2-3.4,3-5.4,6.2-7.1
	c31.3-16.4,62.5-32.8,93.6-49.5c4.2-2.3,5.1-1.1,6.9,2.6c14.2,29.4,36.7,48,69.9,51.3c14.8,1.4,28.6-3.4,41.1-11.1
	c16.3-10,28.3-24,36-41.5c1.4-3.1,2.5-3.3,5.3-1.8c32.2,17.1,64.4,34.1,96.7,51.1c2,1.1,2.8,2.6,3.5,4.5c15,42.3,30.7,84.4,45,126.9
	l-83.1,35.2c-1.3-6.9-3-13.8-5.2-20.6c0,3.5,0,7.1,0,10.6c0,84.5,0,168.9,0.1,253.4c0,4.6-1.2,5.7-5.7,5.7
	c-75.8-0.1-151.7-0.1-227.5,0c-11.3,0-22.5,0-33.8,0c-3.7,0-5.1-0.7-5.1-4.8C178,472,178,385.3,178,298.7c0-1.2,0.1-2.3,0.1-3.5
	c-0.5-1-0.6-1.9-0.2-2.4c0,1-1.1,2-1.4,3.4c-1.5,7.1-3,14.3-4.5,21.8L89.3,280.6z"/>
	<text class="textShirt" x="50%" y="50%" text-anchor="middle" font-weight="normal"  fill="black" stroke-width="0" ></text>
</svg>


<svg class="previewTrui" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 640" style="enable-background:new 0 0 612 792;" xml:space="preserve">
<path d="M176.5,296.2c-1.5,7.1-3,14.3-4.5,21.8c-16-6-54.4,285.8-70,280c-10.7-4-61.2-7.5-72-11
	c-4.8-1.6,58-302.7,59.3-306.4c4.4-12.8,8.7-25.7,13.3-38.5c10.5-29.5,21.2-58.9,31.6-88.4c1.2-3.4,3-5.4,6.2-7.1
	c31.3-16.4,62.5-32.8,93.6-49.5c4.2-2.3,5.1-1.1,6.9,2.6c14.2,29.4,36.7,48,69.9,51.3c14.8,1.4,28.6-3.4,41.1-11.1
	c16.3-10,28.3-24,36-41.5c1.4-3.1,2.5-3.3,5.3-1.8c32.2,17.1,64.4,34.1,96.7,51.1c2,1.1,2.8,2.6,3.5,4.5c15,42.3,30.7,84.4,45,126.9
	c2.4,7.1,31.7,280.3,24.6,282.9c-24.7,9.2-52.4,4.7-77,14c-3,1.1-30.1-258.6-30.7-261.7c-1.3-6.9-3-13.8-5.2-20.6
	c0,3.5,0,7.1,0,10.6c0,84.5,0,168.9,0.1,253.4c0,4.6-1.2,5.7-5.7,5.7c-75.8-0.1-151.7-0.1-227.5,0c-11.3,0-22.5,0-33.8,0
	c-3.7,0-5.1-0.7-5.1-4.8C178,472,178,385.3,178,298.7c0-1.2,0.1-2.3,0.1-3.5c-0.5-1-0.6-1.9-0.2-2.4
	C177.9,293.8,176.8,294.8,176.5,296.2z"/>

	<text class="textTrui" x="50%" y="50%" text-anchor="middle" font-weight="normal"  fill="black" stroke-width="0" ></text>
</svg>
</div>
</div>
<script type="module" src="index.js"></script>
</body>