<html>
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico" rel="stylesheet">
    <title> Ontwerp je shirt! </title>

  </head>

  <body>
<form action ="/save" method="POST">
  
<h1>Ontwerp je shirt!</h1>

<h2>Stap 1:</h2>
<p>Kies je product:</p>

<div>
<input type="radio" id="shirt" name="stap1" value="shirt"
 <% if (stap1== "shirt") { %>
 checked 
<% } %>>
<label for="shirt">shirt</label>
</div>

<div>
<input type="radio" id="trui" name="stap1" value="trui"  <% if (stap1== "trui") { %>
 checked 
<% } %>>
<label for="trui">trui</label>
</div>

<h2>Stap 2:</h2>
<p>Kies de kleur:</p>
<div>
<input type="radio" id="blauw" name="stap2" value="blauw"
       <% if (stap2== "blauw") { %>
 checked 
<% } %>>
<label for="blauw">blauw</label>
</div>

<div>
<input type="radio" id="groen" name="stap2" value="groen" <% if (stap2== "groen") { %>
 checked 
<% } %>>
<label for="groen">groen</label>
</div>

<div>
<input type="radio" id="geel" name="stap2" value="geel" <% if (stap2== "geel") { %>
 checked 
<% } %>>
<label for="geel">geel</label>
</div>

<div>
<input type="radio" id="rood" name="stap2" value="rood" <% if (stap2== "rood") { %>
 checked 
<% } %>>
<label for="rood">rood</label>
</div>

<div>
<input type="radio" id="oranje" name="stap2" value="oranje" <% if (stap2== "oranje") { %>
 checked 
<% } %>>
<label for="oranje">oranje</label>
</div>

<div>
<input type="radio" id="roze" name="stap2" value="roze" <% if (stap2== "roze") { %>
 checked 
<% } %>>
<label for="roze">roze</label>
</div>

<div>
<input type="radio" id="paars" name="stap2" value="paars" <% if (stap2== "paars") { %>
 checked 
<% } %>>
<label for="paars">paars</label>
</div>

<div>
<input type="radio" id="zwart" name="stap2" value="zwart" <% if (stap2== "zwart") { %>
 checked 
<% } %>>
<label for="zwart">zwart</label>
</div>

<div>
<input type="radio" id="wit" name="stap2" value="wit" <% if (stap2== "wit") { %>
 checked 
<% } %>>
<label for="wit">wit</label>
</div>

<h2>Stap 3:</h2>
<div>
<input type="text" id="text" name="stap3" value="<%= text %>">
<label for="text">Vul hier de tekst in voor op het shirt</label>
</div>

<button>opslaan</button>
</form>
    
  </body>